<footer>
    <div class="top-footer">
          <div class="container-fluid">
              <div class="row">
                  
                  <div class="col-12">
                      <div class="area_newsletter">
                          <div class="title_newsletter col-3">
         <h5> <i class="fa-solid fa-envelope"></i> Đăng kí nhận tin</h5>
                          </div>
         <div class="inputvip col-9">
          <div class="input-vip">
            <input type="text" placeholder="Nhập email của bạn" class="input-email">
            <button type="submit" class="btn-submit">Đăng ký</button>
            <p> Hỗ trợ / Mua hàng: 0978461032</p>
          </div>
         </div>
                      </div>
                  </div>
                  <div class="container-fluid" id="con">
            <div class="row">
              
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
                <div class="footer-col footer-content1">
                  <h4 class="footer-title">
                    Công ty TNHH đầu tư và phát triển Mando
                  </h4>
                  <div class="footer-content">
                    
                    <p>Thời trang MANDO Mã số doanh nghiệp: 0108403540 do sở Kế hoạch và Đầu tư TP Hà Nội cấp ngày 14/08/2018</p>
                    
                    
                    <div class="logo-footer">
                      <img src="//theme.hstatic.net/1000401164/1000509982/14/logo-bct.png?v=815" width="50%" alt="Bộ Công Thương">
                    </div>
                    
                  </div>
                </div>
              </div>
              
              
              <div class="col-xs-12 col-sm-6 col-md-2 col-lg">
                <div class="footer-col footer-block">
                  <h4 class="footer-title">
                    Liên kết
                  </h4>
                  <div class="footer-content toggle-footer">
                    <ul>
                      
                      <li class="item">
                        <a href="/search" title="Tìm kiếm">Tìm kiếm</a>
                      </li>
                      
                      <li class="item">
                        <a href="/pages/about-us" title="Giới thiệu">Giới thiệu</a>
                      </li>
                      
                      <li class="item">
                        <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">Chính sách đổi trả</a>
                      </li>
                      
                      <li class="item">
                        <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">Chính sách bảo mật</a>
                      </li>
                        
                    </ul>
                  </div>
                </div>
              </div>
              
              
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                <div class="footer-col">
                  <h4 class="footer-title">
                    Thông tin liên hệ
                  </h4>
                  <div class="footer-content footer-contact">
                    <ul>
                      <li class="contact-1">Văn phòng Công ty TNHH Đầu tư và Phát triển Mando - Số 5, ngõ 18, đường Phạm Hùng, phường Mỹ Đình 2, quận Nam Từ Liêm, thành phố Hà Nội, Việt Nam</li>
                      <li class="contact-2">0978461032</li>
                      <li class="contact-3"></li>
                      <li class="contact-4">tuyendungmando@gmail.com</li>
                    </ul>	
                  </div>
                </div>
              </div>
              
              
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                <div class="footer-col">
                  <h4 class="footer-title">
                    Fanpage
                  </h4>
                  <div class="footer-content footer-contact">
                    <!-- Facebook widget -->
                    <div class="footer-static-content">
                      <div class="fb-page-container">
                        <iframe class="fb-page" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMandofashion.vn&tabs=&width=300&height=130&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
                                scrolling="no" 
                                frameborder="0" 
                                allowtransparency="true" 
                                allow="encrypted-media">
                        </iframe>
                      </div>
                    </div>
                    <div style="clear:both;"></div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
                  
              
                  
              </div>
          </div>
      </div>
  </footer>